@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
select {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
}

body {
    background-color: #242333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* MOVIE LIST */
.movie-container {
    margin: 2rem 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 0.5rem;
    margin-left: 1rem;
    padding: 0.5rem 1.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/* LEGEND */
.legend {
    cursor: default;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #777777;
    list-style-type: none;
    display: flex;
}

.legend li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.legend li small {
    margin-left: 0.3rem;
}

/* THEATRE */
.theatre {
    perspective: 100rem;
    margin-bottom: 3rem;
}

.screen {
    background-color: #ffffff;
    width: 100%;
    height: 7rem;
    margin: 1.5rem 0;
    box-shadow: 0 0.3rem 1rem rgba(255, 255, 255, 0.7);
    transform: rotateX(-45deg);
}

.row {
    display: flex;
}

.seat {
    background-color: #444451;
    width: 1.5rem;
    height: 1.2rem;
    margin: 0.3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #ffffff;
}

.seat:nth-of-type(2) {
    margin-right: 1.8rem;
}

.seat:nth-last-of-type(2) {
    margin-left: 1.8rem;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.legend .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

/* RESULT */
.text {
    margin: 0.5rem 0;
}

.text span {
    color: #6feaf6;
}